* {
  font-family: 'Roboto', Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: underline;
  text-decoration-style: solid;
}

a:hover,
a:focus {
  text-decoration-style: dotted;
}
